<div class="background-container">

<div class="step-container">
  <img src="/assets/register/Checkmark.png" alt="Check" class="check" />
  <p class="step-title">STEP 1 OF 3</p>
  <h1>Create a Password to Start Your Membership</h1>
  <p class="subtitle">Just a few steps and you are done!</p>
  <p class="subtitle">We hate paperworks, too.</p>
  
  <form [formGroup]="form" (ngSubmit)="next()">
    <mat-form-field class="custom-input" appearance="outline">
      <input matInput formControlName="email" type="email" placeholder="Enter your email" />
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Invalid email format
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-input" appearance="outline">
      <input matInput formControlName="password" type="password" placeholder="Enter your password" />
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('minlength')">
        Password must be at least 8 characters
      </mat-error>
    </mat-form-field>

    <a class="forgot-password" href="#">Forgot your password?</a>

    <button mat-raised-button color="warn" type="submit" class="next-button">Next</button>
  </form>
</div>
</div>
