.movie-details-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
  z-index: -1;
}


.actors-section {
  position: absolute;
  top: 35%;
  right: 40px;
  width: 200px; 
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  border-radius: 8px;
  z-index: 2;
}

.actors-section h2 {
  position: center; 

  margin: 0 0 15px;
  font-size: 1.4rem;
}

.actors-list {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 5px; 
}

.actors-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.actors-list li {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.actors-list li img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.no-actors {
  position: absolute;
  top: 40%;
  right: 40px;
  width: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 8px;
  z-index: 2;
}


.details-section {
  position: absolute;
  bottom: 60px;
  left: 40px;
  max-width: 700px; 
  z-index: 2;
  /* background-color: rgba(0, 0, 0, 0.4); */
  padding: 20px;
  border-radius: 8px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.details-section h1 {
  font-size: 2rem;
  margin: 0 0 15px 0;
}

.details {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.overview {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
}


button {
  background-color: #e50914;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ee787e;
}


.youtube-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 20px;
}

.youtube-modal-content {
  background-color: #181818;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.youtube-modal-content iframe {
  width: 560px;
  height: 315px;
  border: none;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .actors-section, .no-actors {
    top: 50%;
    right: 20px;
    width: 250px;
    transform: translateY(-50%);
  }
  .details-section {
    left: 20px;
    right: 20px;
    bottom: 20px;
    max-width: 90%;
  }
  .youtube-modal-content iframe {
    width: 100%;
    height: 240px;
  }
}