.movie-details-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  color: white;
  font-family: Arial, sans-serif;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; 
  filter: brightness(60%);
}

.content {
  position: absolute;
  bottom: 20px; 
  left: 80px;
  width: calc(75% - 40px);
  padding: 40px;
  flex: 1 1 auto;
}

.content h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.details {
  font-size: rem;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.details span {
  margin-right: 25px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.runtime {
  margin-left: auto; 
}

.overview {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.title-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-buttons h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  flex: 2;
}

.title-buttons .buttons {
  display: flex;
  gap: 15px;
  flex: 1;
}
button {
  background-color: #e50914;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ee787e;
}

.actors-section {
  position: absolute;
  top: 50px; 
  right: 20px;
  width: 15%; 
  height: calc(100% - 40px); 
  padding: 20px;
  overflow-y: auto; 
}

.actors-section h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  text-align: center;
}

.actors-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: hidden;
  /* max-height: calc(100vh - 80px); 
  padding-right: 10px; */
}

.actor {
  flex: 0 0 auto;
  text-align: center;
}

.actor img {
  width: 80px; 
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
  object-fit: cover;
}

.actor p {
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap; 
}

@media (max-width: 768px) {
  .content {
    width: calc(100% - 40px); 
    bottom: 10px;
  }

  .actors-section {
    position: relative; 
    width: 100%; 
    height: auto;
    margin-top: 20px;
  }

  .actors-list {
    flex-direction: row; 
    overflow-x: auto;
  }

  .actor img {
    width: 60px;
    height: 60px;
  }

  .actor p {
    font-size: 0.8rem;
  }
}

.youtube-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.youtube-player-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.youtube-player-container iframe {
  border: none;
  border-radius: 10px;
}
