<!-- <mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="step1FormGroup">
    <ng-template matStepLabel>Account Info</ng-template>
    <app-step1 [formGroup]="step1FormGroup"></app-step1>
    <div>
      <button mat-button matStepperNext (click)="goToNextStep()">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="planFormGroup">
    <ng-template matStepLabel>Select Plan</ng-template>
    <app-plan [formGroup]="planFormGroup"></app-plan>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="goToNextStep()">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="step2FormGroup">
    <ng-template matStepLabel>Profile</ng-template>
    <app-step2 [formGroup]="step2FormGroup"></app-step2>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="goToNextStep()">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="step3FormGroup">
    <ng-template matStepLabel>Review</ng-template>
    <app-step3 [formGroup]="step3FormGroup"></app-step3>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper> -->




<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="getFormGroup('step1')">
    <ng-template matStepLabel>Account Info</ng-template>
    <app-step1 [formGroup]="getFormGroup('step1')"></app-step1>
    <div>
      <button mat-button matStepperNext (click)="goToNextStep()">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="getFormGroup('plan')">
    <ng-template matStepLabel>Select Plan</ng-template>
    <app-plan [formGroup]="getFormGroup('plan')"></app-plan>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="goToNextStep()">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="getFormGroup('step2')">
    <ng-template matStepLabel>Profile</ng-template>
    <app-step2 [formGroup]="getFormGroup('step2')"></app-step2>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="goToNextStep()">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="getFormGroup('step3')">
    <ng-template matStepLabel>Review</ng-template>
    <app-step3 [formGroup]="getFormGroup('step3')"></app-step3>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>