.navbar {
  display: flex;
  position: fixed; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px 20px;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-sizing: border-box;
  /* overflow: hidden; */
  backdrop-filter: blur(10px); 

}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 15px;
  font-weight: bold;
}

.auth-links a {
  text-decoration: none;
  color: #fff;
  background-color: #e50914;
  padding: 8px 15px;
  border-radius: 4px;
}

.logo img {
  height: 60px;
  margin-right: 15px;
}

.user-info button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.user-info button:hover {
  background-color: #f40612;
}