.movie-list-container{
  position: relative;
  min-height: 100vh;
  background: url('/assets/netflix.jpg') center/ cover no-repeat;  
  padding-top: 60px; 
}
 
  .list{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style: none;
  }

  .item {
    flex: 0 1 calc(20% - 20px); 
    margin: 1px; 
  }

  .container {
    background-color: #000; 
    min-height: 100vh;
    padding: 20px; 
    margin-bottom: 20px;
  }