<div class="movie-list-container" style="background-color: #000;">
  <div *ngIf="loading$ | async" class="loading-indicator">
    <p>Loading movies...</p>
  </div>
  
  <div *ngIf="error$ | async as error" class="error-message">
    <p>{{ error }}</p>
  </div>
  
  <ul class="list" *ngIf="movies$ | async as movies">
    <li class="item" *ngFor="let movie of movies; trackBy: trackByMovieId">
      <app-movie-item
        [movie]="movie"
        [loading]="(loading$ | async) ?? false">
      </app-movie-item>    
    </li>
  </ul>
</div>
